.navbar-brand {
    color: #aaa;
}
.navbar-toggler-icon{
    color: #aaa;
}

a {
    color: #aaa;
    font-weight: 200;
}
.logo{
    width: 60px;
    height: auto;
}
.navbar{
    padding-top: 0;
    padding-bottom: 0;
    background-color: black;
}
